:root {
  --clr-accent-500: hsl(12, 60%, 45%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
 
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.para {
  font-size: var(--fs-600);
  max-width: 55ch;
}

.para[data-width="wide"] {
  max-width: 100%;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 2em);
}


.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

/* button */

#more {
  display: none;
}

.button {
  display: inline-flex;
  margin-right: 35px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 0.85em 1em -1em var(--clr-accent-500);
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-400);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-300);
}


/* navigation */

.logo {
  cursor: pointer;
  width: 100px;
  border-radius: 50px;
}


.primary-header {
  background-color: antiquewhite;
  padding: 10px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--size-400);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}


@media(max-width: 50em) {
  .primary-navigation {
    display: none;
    z-index: 999;

    position: fixed;
    max-width: 25rem;
    margin-inline: auto;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.125);
  }

  .primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;

    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-700);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

.opened {
  display: block;
  position: fixed;
}






/* slideshowautomatic */


.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  margin: auto;
  z-index: 4;   /* -1 */
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.marque{
  display: block;
  color: #f2f2f2;
  padding-bottom: 5%;
  padding-top: 1%; 
  margin: 0;
}

/* about */

.home-intro {
  padding-bottom: 5rem;
  background: #123 url(https://unsplash.it/900);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  
}







/* Footer */

.footer {
  text-align: center;
  color: #f3c892;
  background-color: #24252A;
}
.footer ul{
  list-style: none;
  size: 200px;
}

.footer-name{
  padding-top: 30px;
  font-size: 40px;
}

#social-media a {
  width: 2px;
  padding: 10px;
  font-size: 1.7rem;
  color: #777;
  transition: 0.3s;
}

#social-media a:hover {
  color: #f3c892;
}

.so-media{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.copyright{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 2%;
  opacity: 0.3;
  font-size: 15px;
  margin-bottom: 0;
}

.goals{
  text-align: center;
  font-size: var(--size-800);
  background-color: #fff;
  padding-top: 3.5rem;
}



.goal{
  text-align: center;
  font-size: var(--size-400);
  background-color: #fff;
}

.goals::after{
  content: '';
  display: block;
  width: 4.5em;
  height: 2px;
  margin: 0.0001em auto 1em;
  background: black;
  opacity: 0.5;
}

.container1{
  display: flex;
  justify-content: center;
  padding: 3rem; 
  margin-top: -64px; 
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
 padding: 5%;
 }

.profile {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  margin-right: 15px;
  background-color: antiquewhite;
}

.profile-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 5px;
}

.mutual-friends-row {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 10px;
}

.mutual-friend-picture {
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 14px;
  vertical-align: middle;
  margin-right: 4px;
}

.mutual-friends {
  color: rgb(100, 100, 100);
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}


@media (max-width:50em) {
  .grid{
    display: block;
  }

  .profile{
    margin-bottom: 50px;
  }
  
}


/* animatni for text */

.ani{
     position : relative ;
     width : 100% ;
     height: 75vh;
     display : flex ;
     justify-content : center ;
     align-items : center ;
     background : #262626 ;
     color : #fff ;
}


.ani .context{
  max-width: 80%;
}



.ani .context h2{
    position : relative ;
    margin : 0 ;
    padding : 0 ;
    display : block ;
    font-size : 3em ;
    transition : 0.5s ;
    transform-origin: left;
    transform: scaleX(0);
}

.ani .context h2[data-scroll="in"]{
  transform: scaleX(1);

}

.ani .context h2:before{

  content : '';
  position : absolute ;
  top : 0 ;
 Left : 0 ;
    width : 100% ;
    height : 100% ;
   background : #717171 ;
    transform-origin : right;
     transition: 0.5s;
}

.ani .context h2[data-scroll="in"]::before{
  transform: scaleX(0);
  transition-delay: 0.5s;

}


.ani .context h3
{
    position : relative ;
    margin : 5px 0 0 ;
    padding : 0 ;
    display : inline-block ;
    font-size : 2em ;
    transition : 0.5s ;
    transform-origin: right;
    transform: scaleX(0);
}

.ani .context h3[data-scroll="in"]{
  transform: scaleX(1);
  transition-delay: 1s;

}


.ani .context h3:before{

    content : '' ;
   position : absolute ;
    top : 0 ;
    Left : 0 ;
    width : 100% ;
    height : 100% ;
   background : #f3c892 ;
    transform-origin : left;
     transition: 0.5s;
}

.ani .context h3[data-scroll="in"]::before{
  transform: scaleX(0);
  transition-delay: 1.5s;

}


.ani .context p{
  font-size: 1.2rem;
  transition: 1s;
  opacity: 0;
  
}

.ani .context p[data-scroll="in"]{
  opacity: 1;
  transition-delay: 1s;
}


/* .ani .context button[data-scroll="in"]{
  transform: translateX(1);
  transition-delay: 1s;
  opacity: 1;

} */



.reveal-ani {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reveal-ani:nth-child(1) {
  color: #e0ffff;
}
.reveal-ani:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}
.reveal-ani:nth-child(3) {
  color: #e0ffff;
}
.reveal-ani:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}
.reveal-ani .container {
  margin: 100px;
}
.reveal-ani h1 {
  font-size: 3rem;
  margin: 20px;
}
.reveal-ani h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.reveal-ani .text-container {
  display: flex;
}
.reveal-ani .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
.reveal-ani .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .reveal-ani h1 {
    font-size: 2rem;
    text-align: center;
  }
  .reveal-ani .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: react(0, 0, 0, 0);
  white-space: norap;
  border: 0;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.margin-bottom-700 {
  padding-block: var(--size-700);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}


.display-sm-none {
  display: none;
}

@media(min-width:50em) {
  .display-md-inline-flex {
    display: inline-flex;

  }
}